$black: #000;
$white: #fff;
$light-white: #fdfdfe;
$dark-white: #f2f7fd;
$light-black: #090909;
$pink: rgba(252, 215, 241, 0.7);
$full-pink: #fcd7f1;
$light-purple: #d9d7fd;
$orange: #ff8a70;
$dark-blue: #2d4e7f;
$light-blue: #d7e8fd;
$white-blue: #cad5e8;
$light-blue-two: #6388ad;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
// $desktop: 1920px;
